aclocal.m4
autom4te.cache/
bin/
c_foundation_test
*.cmd
c_mpd_model_test
c_mutable_song_test
compile
compile_commands.json
configure
configure~
depcomp
**/.deps/
**/.dirstamp
GRTAGS
GTAGS
install-sh
*.la
libcbase.la
.libs/
libtool
*.lo
*.log
ltmain.sh
**.m4
Makefile.in
missing
*.o
*.part
src/ncmpcpp
stamp-h1
tags
TAGS
.tags.vim
*.tar.gz
*temp_delete_me*
test-driver
*.trs
*.obj
new-warnings.txt
*.extract
static-analyzers-warnings.txt
static-analyzers-warnings.txt
