*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure~
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
src/ncmpcpp
stamp-h1
compile_commands.json
libcbase.la
.libs/
*.lo
*.part
*.log
c_mpd_model_test
c_foundation_test
c_mutable_song_test
*.trs
test-driver
